{% extends 'base/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>
        {{ post.text | linebreaksbr | urlize }}
        <img src="{{ post.photo.url }}" class="img-fluid" alt="Responsive image">
        </p>
    </div>


    <!-- 지도 -->
    
    <div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bf223edd01bbbb6ebfd21c46e7900f2b"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng(37.38289,127.15136), // 지도의 중심좌표
        level: 6 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
 
// 마커를 표시할 위치와 title 객체 배열입니다 
var positions = [
    {
        title: '1', 
        latlng: new kakao.maps.LatLng(37.38077,127.12954)
    },
    {
        title: '2', 
        latlng: new kakao.maps.LatLng(37.35903,127.1574)
    },
    {
        title: '3', 
        latlng: new kakao.maps.LatLng(37.37174,127.13122)
    },
    {
        title: '4',
        latlng: new kakao.maps.LatLng(37.37686,127.13327)
    },
    {
        title: '5',
        latlng: new kakao.maps.LatLng(37.38255,127.15132)
    },
    {
        title: '',
        latlng: new kakao.maps.LatLng(37.37471,127.13623)
    },
    {
        title: '', 
        latlng: new kakao.maps.LatLng(37.35909,127.15748)
    },
    {
        title: '', 
        latlng: new kakao.maps.LatLng(37.36614,127.14248)
    },
    {
        title: '', 
        latlng: new kakao.maps.LatLng(37.37665,127.13488)
    },
    {
        title: '',
        latlng: new kakao.maps.LatLng(37.37767,127.1339)
    },
    {
        title: '',
        latlng: new kakao.maps.LatLng(37.37026,127.12828)
    },
    {
        title: '',
        latlng: new kakao.maps.LatLng(37.35782,127.10213)
    }
];

// 마커 이미지의 이미지 주소입니다
var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    
for (var i = 0; i < positions.length; i ++) {
    
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35); 
    
    // 마커 이미지를 생성합니다    
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });
}
</script>
{% endblock %}
