{% extends "base/base.html" %}



{% block content %} 

<div class="text2">
	<h3>
	To find the distance in km between two Locations.
	</h3>
	<br>

	<form action="/caldist/test/" method="post">
		{% csrf_token %}

		<p>
		<div class="ui-widget"> ex) ICN -> VVO<Br>
		<input id="id_code1" type="text" name="code1"/> -> 
		<input id="id_code2" type="text" name="code2"/>
		</div>
		</p>


		<input type="submit" value="Submit" />

	</form>

	<br>
	<br>
	
<small>C&P from <a href="http://oliverelliott.org/article/computing/script_airapp/">Oliver</a></small>
</div>

{% endblock %}
